@{
    ViewData["Title"] = "Login";
}

<main class="container">
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Login Fejl</h2>
            <p id="modalErrorMessage"></p>
        </div>
    </div>

    <div class="login-container">
        <div class="login-header">
            <h2>Login</h2>
        </div>
        <form asp-action="FormLogin" asp-controller="Auth" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="btn-login">Login</button>
        </form>
        <a href="/auth/register">Register</a>
    </div>
</main>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const modal = document.getElementById('errorModal');
            const errorMessage = '@(ViewData["Error"])';

            if (errorMessage) {
                document.getElementById('modalErrorMessage').textContent = errorMessage;
                modal.style.display = 'block';
            }

            const closeButton = document.querySelector('.close-button');
            closeButton.onclick = function () {
                modal.style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            }
        });
    </script>
}