@{
    ViewData["Title"] = "Register";
}

<main class="container">
    <div class="login-container">
        <div class="login-header">
            <h2>Register</h2>
        </div>
        <form asp-action="FormRegister" asp-controller="Auth" method="post">
            <div class="form-group">
                <label for="username">Brugernavn</label>
                <input type="text" id="username" name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="password">Adgangskode</label>
                <input type="password" id="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="btn-login">Register</button>
        </form>
        <a href="/auth/login">Login</a>
    </div>
</main>