@{
    ViewData["Title"] = "Register";
}

<main class="container">
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Login Fejl</h2>
            <p id="modalErrorMessage"></p>
        </div>
    </div>

    <div class="login-container">
        <div class="login-header">
            <h2>Register</h2>
        </div>
        <form asp-action="FormRegister" asp-controller="Auth" method="post">
            <div class="form-group">
                <label for="username">Brugernavn</label>
                <input type="text" id="username" name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="password">Adgangskode</label>
                <input type="password" id="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="btn-login">Register</button>
        </form>
        <a href="/auth/login">Login</a>
    </div>
</main>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const modal = document.getElementById('errorModal');
            const errorMessage = @Html.Raw(Json.Serialize(ViewData["Error"]));

            if (errorMessage) {
                document.getElementById('modalErrorMessage').innerHTML = errorMessage.replace(/\n/g, '<br>');
                modal.style.display = 'block';
            }

            const closeButton = document.querySelector('.close-button');
            if (closeButton) {
                closeButton.onclick = function () {
                    modal.style.display = 'none';
                }
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            }
        });
    </script>
}