<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tak for denne gang</title>
</head>
<body>
    <div class="Adresse">[Adresse]</div>
    <h1>Tak for denne gang</h1>
    <h2>Hej [Name]</h2>
    <p>Vi er glade for at du have haft dig som kunde. Du meget velkommen tilbage. Vestibulum vitae elit metus. Aliquam porttitor dui eu dui gravida tincidunt. Maecenas auctor elit enim, sed fermentum ante scelerisque eu. Praesent at convallis urna, id cursus erat. Ut feugiat placerat magna, a rutrum magna ornare faucibus. Aenean sapien ligula, dictum eu purus in, dignissim ullamcorper nisl. Duis eu turpis eget nulla semper tincidunt a sit amet magna. Nulla ac consequat nunc. Nullam pharetra a tellus nec dapibus.</p>
    <p>Praesent eu purus semper, ultricies neque eget, cursus tellus. Vivamus dictum nec nunc id lacinia. Morbi facilisis arcu non imperdiet fringilla. Sed et commodo mi, eget interdum odio. Donec efficitur, tortor molestie suscipit dapibus, magna tellus interdum velit, et pharetra erat nunc nec ex. Curabitur facilisis, nisl in euismod auctor, neque enim molestie risus, non fringilla augue dolor non ex. Fusce faucibus justo at cursus malesuada.</p>
    <p>Sed tempor placerat commodo. Sed suscipit neque non hendrerit malesuada. Curabitur pellentesque accumsan eleifend. Sed congue et tellus eu luctus. Suspendisse potenti. Proin quis erat et dolor interdum fringilla ornare non mauris. Nunc convallis dictum sodales. Aliquam dictum sollicitudin leo, mollis porttitor libero ullamcorper luctus.</p>
    <h2>Retur</h2>
    <p>Benytte returlabel og medsendte kasse til at sende dit gamle modem retur indenfor 14 dage</p>
    <h3>På gensyn<br />Fyns Kabel TV</h3>
</body>
</html>